#container{
position: absolute;
width: 424px;
height: 84px;
left: 187px;
top: 151px;
/* color: darkblue; */
}
#column{
position: absolute;
width: 720px;
height: 820px;
left: 71px;
top: 249px;
}
#email{
    
    position: absolute;
    width: 720px;
    height: 820px;
    left: 71px;
    top: 249px;
}
/* .style{ */
    /* background-color: orange; */
/* } */