<link rel="stylesheet" type= "text/css" href= "navbar.css">
<link rel="stylesheet" href="navbar.css">
</head>
<body>
<div class="header">
<header>
<h1>EXPLORE KENYA</h1>
<h2>Enjoy the Journey's Rush</h2>
</header>
</div >
<nav>
<ul>
<li>
<a href="home.html">Home</a>
</li>
<li>
<a href="About.html">About</a>
</li>
<li>
<a href="traveldestinations.html">Travel Destinations</a>
</li>
<li>
<a href="accommodations.html">Accommodations</a>
</li>
<li>
<a href="traveltips.html">Travel Tips</a>
</li>
<li>
<a href="customerreviews.html">Customer Reviews</a>
</li>
<li>
<a href="contacts.html">Contacts</a>
</li>
</ul>
</nav>
</body>
</html>




Css:

*{
border: 0;
margin: 0;
padding: 0px;
}
nav {
width: 100%;
margin: 0 auto;
padding: 0;
display: block;
position: absolute;
left: 0;
right: 0;
overflow: hidden;
}
nav>ul{
text-align: right;
}
ul>li{
display: inline-block;
}
nav>ul>li>a {
padding: 18px;
margin-right: 0;
text-transform: uppercase;
text-decoration: none;
display: block;
color: black;
font-size: 18px;
border-radius: 20px;
}
nav>ul>li>a:hover{
background-color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
background-color: yellow;
}
.header{
text-align: center;
font-family: Roboto;
font-style: italic;
font-weight: bold;
color: #FFFDFD;
}
h1{
font-size: 40px;
line-height: 40px;
}
h2{
font-size: 24px;
}
